.resume {
  width: 100%;
  height: 40vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background: url('../img/resume-img.jpg') center center;
  color: white;

  h2 {
    text-align: center;
  }

  .btn {
  }
}
