@use '../abstracts/index' as *;

.card {
  width: 100%;
  border: 1px solid $darker-white;
  border-radius: 4px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  &__img {
    background-color: $accent-color;
    img {
      width: 100%;
    }
  }

  &__body {
    padding: 20px;
  }

  &__links {
    @include flexEvenly;
    margin-top: 20px;

    a {
      color: $black;
    }
  }

  &__btn {
    min-width: 30%;
    padding: 0;
    text-align: center;
    border: 1px solid $darker-white;
    display: flex;
    align-items: center;

    .icon {
      padding: 10px;
      position: relative;
      background-color: $darker-white;
      transition: 300ms;

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        transform: rotate(45deg) translateY(-50%);
        background-color: $darker-white;
        position: absolute;
        top: 50%;
        transition: 300ms;
      }
    }
    span {
      flex: 1;
    }

    &:hover {
      .icon {
        color: $white;
        background-color: $accent-color;

        &::after {
          background-color: $accent-color;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .cards {
    @include flexCenter;
    flex-wrap: wrap;

    .card {
      width: 45%;
      min-height: 510px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .cards {
    .card {
      width: 30%;
    }
  }
}
