.card {
  width: 100%;
  border: 1px solid lighten($font-color, 80%);
  border-radius: 4px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  &__img {
    background-color: $accent-color;
    img {
      width: 100%;
    }
  }

  &__body {
    padding: 20px;
  }

  &__links {
    @include flexEvenly;
    margin-top: 20px;

    a {
      color: $font-color;
    }
  }

  &__btn {
    min-width: 100px;
    text-align: center;
    border: 1px solid $font-color;
  }
}

@media only screen and (min-width: 768px) {
  .cards {
    @include flexCenter;
    flex-wrap: wrap;

    .card {
      width: 45%;
      min-height: 510px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .cards {
    .card {
      width: 30%;
    }
  }
}
