.nav {
  height: 70px;
  width: 100%;
  position: fixed;

  .burger {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    @include flexEvenly;
    flex-direction: column;

    &__line {
      width: 100%;
      height: 4px;
      background-color: $accent-color;
    }
  }

  ul {
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: inherit;
    @include flexEvenly;
    flex-direction: column;
    height: 0;
    transition: height 300ms;
    transform-origin: center;

    li {
      opacity: 0;
      text-align: center;
      transition: 300ms;
    }
  }

  ul.active {
    transition: height 300ms;
    transform-origin: center;
    height: 25vh;
    visibility: visible;

    li {
      opacity: 1;
    }
  }
}
